body {
  background-color: lightblue;
}

.GIFcontainer {
  width: 400px;
  margin: 20px;
}

.GIFcontainer ul li, .GIFcontainer ul li a {
  width: 350px;
}

@media (max-width: 400px) {
  .GIFpic {
    width: 100vw;
  }

  .GIFcontainer {
    margin: 10px 0 10px 0;
  }
}

.page {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 20px auto;
  width: 800px;
  text-align: center;
}

@media (max-width: 800px) {
  .title {
    width: 100vw;
  }
}

.buttons {
  width: 300px;
  margin: 20px auto;
}